*{
    font-family: comic sans ms;
    user-select: none;
    background-color: blue;
}
section{
    display: flex;
}

.card {
    margin: 10px;
<<<<<<< Updated upstream
    width: 150px;
    height: 200px;
    background-image: url(Assets/Cards/Tras.png);
=======
    width: 110px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    border-radius: 10px;
    background: linear-gradient(165deg, #f5d547, #c9a400);
    border: 3px solid #b89600;
    
    
>>>>>>> Stashed changes
}
p, label, input, button {
    color: white;
}